.LatestPhotos{
    max-width: 100%;
    padding: 0 35px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.grid-photo{
    object-position: center;
    object-fit: cover;
    height: 250px;
    width: 100%;
}
.photos-grid{
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    overflow-y: auto;
}