
.insta-title
    {
        height: 80px;
        /* max-width: 100%; */
        border-bottom: 1px solid rgba(236, 236, 236, 0.705);;
        align-items: center;
        padding:0 30px;
        font-family: 'Great Vibes', cursive;
    }
.grad{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}