.Taskbar{
    height: 80px;
    /* max-width: 100%; */
    border-bottom: 1px solid rgba(236, 236, 236, 0.705);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
}

.search-div{
    display: flex;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
    padding: 2px 8px;
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.548); 
}


.search-input{
    background-color: transparent;
    outline: none;
    border: none;
}

.search-icon{
   margin-right: 5px;
}

.icon{
    color: rgb(190, 190, 190); 
}

.signal-icon{
    margin-right: 25px;
}