.UserDetails{
    margin: 10px auto;
    padding: 30px 0;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(236, 236, 236, 0.705);
    text-align: center;
}

.UserDetails>.avatar{
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
}

#bio{
    margin-bottom: 50px;
}

#btn-new-post{
    font-weight: bold;
    padding: 15px 0;
    color: white;
    margin: 50px 0 10px 0;
    cursor: pointer;
}

#btn-new-story{
    text-align: center;
    cursor: pointer;
}